/* line 67, ../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 73, ../sass/main.scss */
body {
  font-family: 'bariol';
  color: #ef9200;
  background: #132531;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  letter-spacing: 1px;
  -webkit-user-select: none;
}

/* line 86, ../sass/main.scss */
a {
  color: #ef9200;
  text-decoration: none;
}

/* line 92, ../sass/main.scss */
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 102, ../sass/main.scss */
#bois {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 110, ../sass/main.scss */
header {
  padding: 6px 24px;
  text-align: center;
  width: 100%;
  background: #fff;
  border-bottom: 2px solid #ef9200;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 124, ../sass/main.scss */
header #togg {
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 24px;
  top: 0;
  background: url(../img/prout.png) no-repeat;
  z-index: 1100;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 136, ../sass/main.scss */
header #togg:hover, header #togg:focus {
  background-image: url(../img/proutW.png);
  background-color: #ef9200;
}

/* line 145, ../sass/main.scss */
#bulles {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 120px;
  height: 24px;
  position: fixed;
  top: 36px;
  left: 50%;
  margin-left: -60px;
  overflow: hidden;
  z-index: 1000;
}
/* line 157, ../sass/main.scss */
#bulles li {
  display: block;
  width: 10px;
  height: 10px;
  margin: 12px 0 0 10px;
  border: 1px solid #fff;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  float: left;
}
/* line 168, ../sass/main.scss */
#bulles li.thispage {
  background: #ef9200;
  border-color: #ef9200;
}
/* line 175, ../sass/main.scss */
#bulles li:last-child {
  margin-right: 10px;
}

/* line 184, ../sass/main.scss */
.timeline {
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 36px 24px 0 24px;
  position: relative;
}
/* line 193, ../sass/main.scss */
.timeline:after {
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  background: #ef9200;
  position: absolute;
  left: 25%;
  top: 0;
}
/* line 207, ../sass/main.scss */
.timeline li {
  width: 100%;
  height: 100px;
  position: relative;
  overflow: hidden;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 215, ../sass/main.scss */
.timeline li:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 25%;
  margin-left: -17px;
  top: 50%;
  margin-top: -6px;
  background: #ef9200;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  z-index: 1000;
}
/* line 230, ../sass/main.scss */
.timeline li:before:first-child {
  margin-top: 24px;
}
/* line 237, ../sass/main.scss */
.timeline li .icon {
  position: absolute;
  left: 30%;
  display: block;
  width: 100px;
  height: 100px;
}
/* line 244, ../sass/main.scss */
.timeline li .icon:after {
  display: none !important;
}
/* line 251, ../sass/main.scss */
.timeline li .date {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 0;
}
/* line 259, ../sass/main.scss */
.timeline li .text {
  display: block;
  color: #fff;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 0;
}
/* line 270, ../sass/main.scss */
.timeline li .text:first-letter {
  text-transform: uppercase;
}
/* line 276, ../sass/main.scss */
.timeline li a {
  display: block;
  height: 100%;
  width: 72px;
  position: absolute;
  right: 0;
  top: 0;
  text-indent: -9999px;
}
/* line 286, ../sass/main.scss */
.timeline li a:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid #ef9200;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
}
/* line 300, ../sass/main.scss */
.timeline li a:before {
  content: "";
  display: block;
  width: 8px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -4px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 321, ../sass/main.scss */
section {
  width: 100%;
  height: 100%;
  background: #132531;
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 336, ../sass/main.scss */
section .drinks {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 72px 24px 0 24px;
}
/* line 342, ../sass/main.scss */
section .drinks li {
  display: block;
  width: 33.3333333%;
  float: left;
  font-size: 12px;
  color: #fff;
  position: relative;
}
/* line 357, ../sass/main.scss */
section .drinks li p {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 0;
}
/* line 368, ../sass/main.scss */
section .drinks li span {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 25%;
  text-align: center;
  background: url(../img/cross.png) center;
  background-size: cover;
  opacity: 1;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* line 383, ../sass/main.scss */
section .drinks li .tomb {
  opacity: 0;
}

/* line 392, ../sass/main.scss */
.abs {
  background: url(../img/icon/absinthe.png) no-repeat center;
  background-size: cover;
  background-color: #11894c;
}
/* line 42, ../sass/main.scss */
.abs:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.abs:hover:after {
  opacity: 1;
}

/* line 399, ../sass/main.scss */
.ama {
  background: url(../img/icon/amaretto.png) no-repeat center;
  background-size: cover;
  background-color: #b35301;
}
/* line 42, ../sass/main.scss */
.ama:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.ama:hover:after {
  opacity: 1;
}

/* line 406, ../sass/main.scss */
.char {
  background: url(../img/icon/chartreuse.png) no-repeat center;
  background-size: cover;
  background-color: #749336;
}
/* line 42, ../sass/main.scss */
.char:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.char:hover:after {
  opacity: 1;
}

/* line 413, ../sass/main.scss */
.coin {
  background: url(../img/icon/cointreau.png) no-repeat center;
  background-size: cover;
  background-color: #cbcbae;
}
/* line 42, ../sass/main.scss */
.coin:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.coin:hover:after {
  opacity: 1;
}

/* line 420, ../sass/main.scss */
.crem {
  background: url(../img/icon/creme.png) no-repeat center;
  background-size: cover;
  background-color: #d58d4b;
}
/* line 42, ../sass/main.scss */
.crem:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.crem:hover:after {
  opacity: 1;
}

/* line 428, ../sass/main.scss */
.gold {
  background: url(../img/icon/goldstrike.png) no-repeat center;
  background-size: cover;
  background-color: #edcf89;
}
/* line 42, ../sass/main.scss */
.gold:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.gold:hover:after {
  opacity: 1;
}

/* line 435, ../sass/main.scss */
.grand {
  background: url(../img/icon/grandmarnier.png) no-repeat center;
  background-size: cover;
  background-color: #b16d00;
}
/* line 42, ../sass/main.scss */
.grand:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.grand:hover:after {
  opacity: 1;
}

/* line 442, ../sass/main.scss */
.lime {
  background: url(../img/icon/limoncello.png) no-repeat center;
  background-size: cover;
  background-color: #b1ac00;
}
/* line 42, ../sass/main.scss */
.lime:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.lime:hover:after {
  opacity: 1;
}

/* line 449, ../sass/main.scss */
.past {
  background: url(../img/icon/pastis.png) no-repeat center;
  background-size: cover;
  background-color: #d5ab15;
}
/* line 42, ../sass/main.scss */
.past:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.past:hover:after {
  opacity: 1;
}

/* line 456, ../sass/main.scss */
.trip {
  background: url(../img/icon/triplesec.png) no-repeat center;
  background-size: cover;
  background-color: silver;
}
/* line 42, ../sass/main.scss */
.trip:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.trip:hover:after {
  opacity: 1;
}

/* line 465, ../sass/main.scss */
.pill25 {
  background: url(../img/icon/biere25.png) no-repeat center;
  background-size: cover;
  background-color: #e19a00;
}
/* line 42, ../sass/main.scss */
.pill25:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.pill25:hover:after {
  opacity: 1;
}

/* line 472, ../sass/main.scss */
.pill33 {
  background: url(../img/icon/biere33.png) no-repeat center;
  background-size: cover;
  background-color: #cd8c00;
}
/* line 42, ../sass/main.scss */
.pill33:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.pill33:hover:after {
  opacity: 1;
}

/* line 479, ../sass/main.scss */
.pill50 {
  background: url(../img/icon/biere50.png) no-repeat center;
  background-size: cover;
  background-color: #b87e00;
}
/* line 42, ../sass/main.scss */
.pill50:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.pill50:hover:after {
  opacity: 1;
}

/* line 486, ../sass/main.scss */
.spec33 {
  background: url(../img/icon/speciale33.png) no-repeat center;
  background-size: cover;
  background-color: #944800;
}
/* line 42, ../sass/main.scss */
.spec33:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.spec33:hover:after {
  opacity: 1;
}

/* line 493, ../sass/main.scss */
.spec50 {
  background: url(../img/icon/speciale50.png) no-repeat center;
  background-size: cover;
  background-color: #803e00;
}
/* line 42, ../sass/main.scss */
.spec50:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.spec50:hover:after {
  opacity: 1;
}

/* line 502, ../sass/main.scss */
.arma {
  background: url(../img/icon/armagnac.png) no-repeat center;
  background-size: cover;
  background-color: #de6300;
}
/* line 42, ../sass/main.scss */
.arma:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.arma:hover:after {
  opacity: 1;
}

/* line 509, ../sass/main.scss */
.calva {
  background: url(../img/icon/calvados.png) no-repeat center;
  background-size: cover;
  background-color: #cd8d06;
}
/* line 42, ../sass/main.scss */
.calva:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.calva:hover:after {
  opacity: 1;
}

/* line 516, ../sass/main.scss */
.cogn {
  background: url(../img/icon/cognac.png) no-repeat center;
  background-size: cover;
  background-color: #894507;
}
/* line 42, ../sass/main.scss */
.cogn:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.cogn:hover:after {
  opacity: 1;
}

/* line 523, ../sass/main.scss */
.gin {
  background: url(../img/icon/gin.png) no-repeat center;
  background-size: cover;
  background-color: #c9cdc6;
}
/* line 42, ../sass/main.scss */
.gin:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.gin:hover:after {
  opacity: 1;
}

/* line 530, ../sass/main.scss */
.rhum {
  background: url(../img/icon/rhum.png) no-repeat center;
  background-size: cover;
  background-color: #bfc4bb;
}
/* line 42, ../sass/main.scss */
.rhum:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.rhum:hover:after {
  opacity: 1;
}

/* line 537, ../sass/main.scss */
.tequ {
  background: url(../img/icon/tequila.png) no-repeat center;
  background-size: cover;
  background-color: #f5c32e;
}
/* line 42, ../sass/main.scss */
.tequ:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.tequ:hover:after {
  opacity: 1;
}

/* line 544, ../sass/main.scss */
.vod {
  background: url(../img/icon/vodka.png) no-repeat center;
  background-size: cover;
  background-color: lightgrey;
}
/* line 42, ../sass/main.scss */
.vod:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.vod:hover:after {
  opacity: 1;
}

/* line 551, ../sass/main.scss */
.whi {
  background: url(../img/icon/whisky.png) no-repeat center;
  background-size: cover;
  background-color: #9d430c;
}
/* line 42, ../sass/main.scss */
.whi:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.whi:hover:after {
  opacity: 1;
}

/* line 560, ../sass/main.scss */
.cuba {
  background: url(../img/icon/cubalibre.png) no-repeat center;
  background-size: cover;
  background-color: #291204;
}
/* line 42, ../sass/main.scss */
.cuba:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.cuba:hover:after {
  opacity: 1;
}

/* line 567, ../sass/main.scss */
.dai {
  background: url(../img/icon/daiquiri.png) no-repeat center;
  background-size: cover;
  background-color: #7f0d1f;
}
/* line 42, ../sass/main.scss */
.dai:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.dai:hover:after {
  opacity: 1;
}

/* line 574, ../sass/main.scss */
.mai {
  background: url(../img/icon/maitai.png) no-repeat center;
  background-size: cover;
  background-color: #cdbc49;
}
/* line 42, ../sass/main.scss */
.mai:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.mai:hover:after {
  opacity: 1;
}

/* line 581, ../sass/main.scss */
.marg {
  background: url(../img/icon/margarita.png) no-repeat center;
  background-size: cover;
  background-color: #9cb921;
}
/* line 42, ../sass/main.scss */
.marg:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.marg:hover:after {
  opacity: 1;
}

/* line 588, ../sass/main.scss */
.moji {
  background: url(../img/icon/mojito.png) no-repeat center;
  background-size: cover;
  background-color: #96bf40;
}
/* line 42, ../sass/main.scss */
.moji:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.moji:hover:after {
  opacity: 1;
}

/* line 595, ../sass/main.scss */
.pina {
  background: url(../img/icon/pinacolada.png) no-repeat center;
  background-size: cover;
  background-color: #ecef6e;
}
/* line 42, ../sass/main.scss */
.pina:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.pina:hover:after {
  opacity: 1;
}

/* line 602, ../sass/main.scss */
.sex {
  background: url(../img/icon/sexbeach.png) no-repeat center;
  background-size: cover;
  background-color: #ad211a;
}
/* line 42, ../sass/main.scss */
.sex:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.sex:hover:after {
  opacity: 1;
}

/* line 609, ../sass/main.scss */
.sun {
  background: url(../img/icon/tequilasunrise.png) no-repeat center;
  background-size: cover;
  background-color: #ba7718;
}
/* line 42, ../sass/main.scss */
.sun:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.sun:hover:after {
  opacity: 1;
}

/* line 618, ../sass/main.scss */
.champ {
  background: url(../img/icon/champagne.png) no-repeat center;
  background-size: cover;
  background-color: #f0cf32;
}
/* line 42, ../sass/main.scss */
.champ:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.champ:hover:after {
  opacity: 1;
}

/* line 625, ../sass/main.scss */
.blan {
  background: url(../img/icon/vinblanc.png) no-repeat center;
  background-size: cover;
  background-color: #d5d53e;
}
/* line 42, ../sass/main.scss */
.blan:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.blan:hover:after {
  opacity: 1;
}

/* line 632, ../sass/main.scss */
.ros {
  background: url(../img/icon/vinrose.png) no-repeat center;
  background-size: cover;
  background-color: #d74325;
}
/* line 42, ../sass/main.scss */
.ros:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.ros:hover:after {
  opacity: 1;
}

/* line 639, ../sass/main.scss */
.rou {
  background: url(../img/icon/vinrouge.png) no-repeat center;
  background-size: cover;
  background-color: #310310;
}
/* line 42, ../sass/main.scss */
.rou:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 57, ../sass/main.scss */
.rou:hover:after {
  opacity: 1;
}

/* line 649, ../sass/main.scss */
section {
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* line 655, ../sass/main.scss */
#menu {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 95%;
  z-index: 2000;
  left: -95%;
  border-right: 2px solid #ef9200;
}
/* line 663, ../sass/main.scss */
#menu ul {
  width: 100%;
  height: 100%;
  background: #fff;
}
/* line 669, ../sass/main.scss */
#menu ul li {
  display: block;
  background: #fff;
  width: 100%;
  height: 12%;
  position: relative;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 677, ../sass/main.scss */
#menu ul li span {
  display: block;
  width: 20%;
  height: 100%;
  background: url(../img/menu/boissons.png) no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 688, ../sass/main.scss */
#menu ul li span.effect {
  background-image: url(../img/menu/effets.png);
}
/* line 693, ../sass/main.scss */
#menu ul li span.conso {
  background-image: url(../img/menu/consommation.png);
}
/* line 698, ../sass/main.scss */
#menu ul li span.resu {
  background-image: url(../img/menu/resultat.png);
}
/* line 703, ../sass/main.scss */
#menu ul li span.pro {
  background-image: url(../img/menu/profil.png);
}
/* line 710, ../sass/main.scss */
#menu ul li:hover span, #menu ul li.active span {
  background-image: url(../img/menu/boissonsW.png);
}
/* line 716, ../sass/main.scss */
#menu ul li:hover .effect, #menu ul li.active .effect {
  background-image: url(../img/menu/effetsW.png);
}
/* line 722, ../sass/main.scss */
#menu ul li:hover .conso, #menu ul li.active .conso {
  background-image: url(../img/menu/consommationW.png);
}
/* line 728, ../sass/main.scss */
#menu ul li:hover .resu, #menu ul li.active .resu {
  background-image: url(../img/menu/resultatW.png);
}
/* line 734, ../sass/main.scss */
#menu ul li:hover .pro, #menu ul li.active .pro {
  background-image: url(../img/menu/profilW.png);
}
/* line 741, ../sass/main.scss */
#menu ul li p {
  color: #ef9200;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 20%;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 752, ../sass/main.scss */
#menu ul li.logo {
  height: 40%;
  background: url(../img/menu/logomenu.png) no-repeat center;
  background-size: cover;
  background-color: #132531;
  text-indent: -9999px;
}
/* line 760, ../sass/main.scss */
#menu ul li.logo:hover {
  background-color: #132531;
}
/* line 766, ../sass/main.scss */
#menu ul li.active, #menu ul li:hover {
  background-color: #ef9200;
}
/* line 770, ../sass/main.scss */
#menu ul li.active p, #menu ul li:hover p {
  color: #fff;
}

/* line 785, ../sass/main.scss */
#goDrink ul {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 60px 24px 0 24px;
  position: relative;
}
/* line 791, ../sass/main.scss */
#goDrink ul li {
  display: block;
}
/* line 796, ../sass/main.scss */
#goDrink ul .illu {
  width: 174px;
  height: 229px;
}
/* line 802, ../sass/main.scss */
#goDrink ul .homme {
  background: url(../img/penis.png) no-repeat;
}
/* line 807, ../sass/main.scss */
#goDrink ul .femme {
  background: url(../img/nenes.png) no-repeat;
}
/* line 812, ../sass/main.scss */
#goDrink ul .nom {
  position: absolute;
  right: 24px;
  top: 80px;
}
/* line 818, ../sass/main.scss */
#goDrink ul .nom:after {
  content: "";
  width: 80px;
  height: 1px;
  background: #fff;
  position: absolute;
  right: 126%;
  top: 50%;
}
/* line 830, ../sass/main.scss */
#goDrink ul .poids {
  position: absolute;
  top: 175px;
  right: 24px;
}
/* line 836, ../sass/main.scss */
#goDrink ul .poids:after {
  content: "";
  width: 65px;
  height: 1px;
  background: #fff;
  position: absolute;
  right: 150%;
  top: 50%;
}
/* line 851, ../sass/main.scss */
#goDrink .shit {
  color: #fff;
}
/* line 857, ../sass/main.scss */
#goDrink .go {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #fff;
  background: #ef9200;
  height: 48px;
  padding: 12px 0;
  text-transform: uppercase;
  text-align: center;
  margin-top: 24px;
}

/* line 873, ../sass/main.scss */
#result ul {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 60px 24px 0 24px;
  color: #fff;
  overflow: hidden;
}
/* line 880, ../sass/main.scss */
#result ul li {
  width: 100%;
  font-size: 14px;
}
/* line 885, ../sass/main.scss */
#result ul li span {
  color: #ef9200;
}
/* line 890, ../sass/main.scss */
#result ul li h2 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  width: 100%;
  height: 48px;
  font-size: 16px;
  text-transform: uppercase;
  color: #ef9200;
  text-align: center;
  padding: 12px 0;
}
/* line 906, ../sass/main.scss */
#result ul #illu2 {
  display: block;
  width: 99px;
  height: 177px;
  float: left;
  margin-right: 24px;
  margin-bottom: 40px;
}
/* line 915, ../sass/main.scss */
#result ul #illu2.clef {
  background: url(../img/cle.png) no-repeat;
}
/* line 919, ../sass/main.scss */
#result ul #illu2.biere {
  background: url(../img/biere.png) no-repeat;
}
/* line 923, ../sass/main.scss */
#result ul #illu2.verre {
  background: url(../img/verre.png) no-repeat;
}
/* line 927, ../sass/main.scss */
#result ul #illu2.croix {
  background: url(../img/croix.png) no-repeat;
}
/* line 931, ../sass/main.scss */
#result ul #illu2.cercueil {
  background: url(../img/cercueil.png) no-repeat;
}
/* line 937, ../sass/main.scss */
#result ul .text2 {
  margin-bottom: 24px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 947, ../sass/main.scss */
.eaux {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

/* line 952, ../sass/main.scss */
.liqueurs {
  -webkit-transform: translate(200%, 0);
  -moz-transform: translate(200%, 0);
  -o-transform: translate(200%, 0);
  transform: translate(200%, 0);
}

/* line 957, ../sass/main.scss */
.cocktail {
  -webkit-transform: translate(300%, 0);
  -moz-transform: translate(300%, 0);
  -o-transform: translate(300%, 0);
  transform: translate(300%, 0);
}

/* line 962, ../sass/main.scss */
.vin {
  -webkit-transform: translate(400%, 0);
  -moz-transform: translate(400%, 0);
  -o-transform: translate(400%, 0);
  transform: translate(400%, 0);
}

/* line 967, ../sass/main.scss */
.pages {
  z-index: 0;
  opacity: 0;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 973, ../sass/main.scss */
.show {
  z-index: 500;
  opacity: 1;
}

/* line 985, ../sass/main.scss */
form {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 60px 24px 0 24px;
}
/* line 994, ../sass/main.scss */
form input {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: 'bariol';
  background: url(../img/prenom.png) no-repeat left;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #ef9200;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 18px;
  color: #fff;
  width: 100%;
  height: 48px;
  padding-left: 56px;
  margin-bottom: 24px;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 1016, ../sass/main.scss */
form #poids {
  background-image: url(../img/poids.png);
}
/* line 1022, ../sass/main.scss */
form input:hover, form input:focus {
  color: #fff;
  background-color: #ef9200;
}
/* line 1031, ../sass/main.scss */
form #envoi {
  display: block;
  width: 100%;
  height: 48px;
  text-align: center;
  padding: 12px 0;
  text-transform: uppercase;
  background: #ef9200;
  color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}
/* line 1044, ../sass/main.scss */
form #envoi:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 1058, ../sass/main.scss */
form #envoi:hover:after {
  opacity: 1;
}
/* line 1064, ../sass/main.scss */
form p {
  color: #fff;
  margin-bottom: 24px;
}
/* line 1070, ../sass/main.scss */
form ul {
  width: 100%;
  height: 48px;
  overflow: hidden;
  margin-bottom: 24px;
}
/* line 1077, ../sass/main.scss */
form ul li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: block;
  width: 45%;
  height: 48px;
  margin-right: 10%;
  border: 1px solid #ef9200;
  float: left;
}
/* line 1087, ../sass/main.scss */
form ul li:last-child {
  margin-right: 0;
}
/* line 1092, ../sass/main.scss */
form ul li.man {
  background: url(../img/homme.png) no-repeat center -2px;
}
/* line 1096, ../sass/main.scss */
form ul li.man:hover, form ul li.man:focus, form ul li.man.select {
  background-image: url(../img/hommeW.png);
  background-color: #ef9200;
}
/* line 1103, ../sass/main.scss */
form ul li.woman {
  background: url(../img/femme.png) no-repeat center;
}
/* line 1107, ../sass/main.scss */
form ul li.woman:hover, form ul li.woman:focus, form ul li.woman.select {
  background-image: url(../img/femmeW.png);
  background-color: #ef9200;
}
